{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Lecture-go</title>
</head>
<body>
<br>
<script>
     function showloading(url) {
                $(".btn").attr("disabled", true);
                $("#spinner").show();
                window.open(url,"_self");
            }
</script>
<div class="container-fluid">
    <div class="alert alert-success" role="alert">

<h1 style="text-align: center;"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-file-earmark-check" viewBox="0 0 16 16">
  <path d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
  <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
</svg>Download success!
</h1>
        <br>
        <div style="text-align: center">
<button class="btn btn-success" onclick="showloading('{% url 'main:cut' %}')">Click me</button> to remove all silence.          <div class="spinner-border" style="display: none" id="spinner" role="status"></div>

</div>
        </div>
    </div>
<script type="text/javascript" src="{% static "ckplayer/ckplayer/ckplayer.js" %}" charset="utf-8" data-name="ckplayer"></script>
<div class="text-center">
        <div class="video" style="width: 600px;height: 400px;">container</div>
<script type="text/javascript">
    // from the official document of ckplayer
    //定义一个变量：videoObject，用来做为视频初始化配置
    var videoObject = {
        container: '.video', //“#”代表容器的ID，“.”或“”代表容器的class
        variable: 'player', //播放函数名称，该属性必需设置，值等于下面的new ckplayer()的对象
        video: '{% static "video.mp4" %}'//视频地址
    };
    var player = new ckplayer(videoObject);//初始化播放器
</script>
    </div>
 </div>
</body>
</html>